<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Change Password|FoundBD</title>
  <link rel="shortcut icon" href="../../assets/icon.png">
</head>
<body>
  <!-- ...............................Header Start....................... -->
  
    <fieldset>
      <table align="center">
        <tr>
          <td>
            <img src="../../assets/imgpsh_fullsize.png" alt="" srcset=""width="200" height="80">
          </td>
          
        </tr>
      </table>
      <table align="center">
        <tr>
          <td>
            <a href="./donnerDashboard.html">Dashboard</a>&nbsp;
            <a href="./viewProfile.html">Profile</a>&nbsp;
            <a href="./donnerNotification.html">Notification</a>&nbsp;
            
          </td>
        </tr>
      </table>
      <table align="right">
          <tr>
              <td>
                <a href="../../controller/logout.php">Logout</a>
              </td>
          </tr>

      </table>
    </fieldset>
    <!-- .................................Header Close..................... -->


    
    <!-- .................................Main Content..................... -->
    <fieldset>
      <form method="post" action="../../controller/Donner/donnerChangePassword.php" >
        <fieldset>
        
            <legend><b>Donner Password Change</b></legend><br>
        
        
            <label>Current Password :  </label>
            <input type="password" id="curpword" name="curpword" ><br><br>
            
        
            
            <label>New Password : </label>
            <input type="password" id="npword" name="npword" ><br><br>

            <label>Retype New Password : </label>
            <input type="password" id="Rnpword" name="Rnpword" ><br>
            <hr><br>
           
      
        
            <input type="submit" name="submit" id="submit" value="Update">
            
            <input type="submit" name="cancel" id="cancel" value="Cancel"><br><br>
        </fieldset>
        </form>
    </fieldset>
    <fieldset>
    <!-- .................................Main Content..................... -->
    <!-- .................................Footer Start..................... -->
    <fieldset>
      <p align="center">Copyright	&#169;2021</p>
    </fieldset>
  </form>
  <!-- .................................Footer Close..................... -->

</body>
</html>