<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>FundBD |Crowdfunding</title>
  <link rel="shortcut icon" href="../../assets/icon.png">
</head>
<body>
  <!-- ...............................Header Start....................... -->
  <form action="" onsubmit="return v2()">
    <fieldset>
      <table align="center">
        <tr>
          <td>
            <img src="../../assets/imgpsh_fullsize.png" alt="" srcset=""width="200" height="80">          </td>
          
        </tr>
      </table>
      <table align="center">
        <tr>
          <td>
            <a href="./employeeDashboard.html">Dashboard</a>&nbsp;
            <a href="./employeeProfile.php">Profile</a>&nbsp;
            <a href="./notification.html">Notification</a>&nbsp;
            <a href="../../controller/logout.php">Logout</a>
          </td>
        </tr>
      </table>
    </fieldset>
    <!-- .................................Header Close..................... -->
    <!-- .................................Main Content..................... -->
    <fieldset>
      <form method="post" action="../../controller/Employee/employeeResignRequest.php"> 
        <fieldset>
          <legend><b>Employee Resign</b></legend>
          
               
            <table align="center">
              <tr>
                  <td>Cause For Resign:</td>
                 <td><input type="text" id="cresign" name="cresign" >
                    &nbsp;
                    <span id="errcresign" style="color:red"></span>
                  </td>
              </tr>
              <tr>
                <td>Application:</td>
                <td><input type="text" id="application" name="application" >
                  &nbsp;
                  <span id="errapplication" style="color:red"></span>
                </td>
            </tr>
            <tr>
              <td>Email:</td>
              <td><input type="text" id="email" name="email" >
                &nbsp;
                <span id="erremail" style="color:red"></span>
              </td>
          </tr>
              
            </table>	
              <hr>
              <table align="center">
                
                <tr>
                  <td>
                    <input type="submit" name="submit" value="Submit">
                  </td>
        
                  <td>
                    <input type="reset" name="reset" id="reset" value="Reset">
                  </td>
                  
                </tr>
              
                  
              </table>  
        </fieldset>
      </form>
    </fieldset>
    
    <!-- .................................Main Content..................... -->
    <!-- .................................Footer Start..................... -->
    <fieldset>
      <p align="center">Copyright	&#169;2021</p>
    </fieldset>
  </form>
  <!-- .................................Footer Close..................... -->
  <script>
    function get(id)
    {
        return document.getElementById(id);
    }
    function v2()
    {
        var cresign = get("cresign").value;
        var application = get("application").value;
        var email = get("email").value;
        
    
      
        var validate = true;
        
  
        if(cresign=="")
        {
            validate = false;
           get("errcresign").innerHTML="Please Write Your Resign Cause";
            get("cresign").focus();
        }
        else
        {
            get("errcresign").innerHTML="";
        }
  
  
        if(application=="")
        {
            validate = false;
           get("errapplication").innerHTML="Please Write Your Application";
            get("application").focus();
        }
        else
        {
            get("errapplication").innerHTML="";
        }

        
        if(email=="")
        {
            validate = false;
           get("erremail").innerHTML="Please Write Your Email";
            get("email").focus();
        }
        else
        {
            get("erremail").innerHTML="";
        }
  
  
  
        return validate;
  
    }
  
  
  </script>
</body>
</html>