<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>FundBD |Crowdfunding</title>
  <link rel="shortcut icon" href="./assets/icon.png">
</head>
<body>
  <!-- ...............................Header Start....................... -->
  <form action="" >
    <fieldset>
      <table align="center">
        <tr>
          <td>
            <img src="./assets/imgpsh_fullsize.png" alt="" srcset=""width="200" height="80">          </td>
          
        </tr>
      </table>
      <table align="center">
        <tr>
          <td>
            <a href="./index.html">Home</a>
            <a href="./loginType.html">Login</a>
            <a href="./regType.html">Registration</a>
            <a href="http://">About Us</a>
          </td>
        </tr>
      </table>
    </fieldset>
    <!-- .................................Header Close..................... -->
    <!-- .................................Main Content..................... -->
    <fieldset>
      <form method="post" action="../../controller/Applicant/applicantChangePassword.php" >
        <fieldset>
        
            <legend><b>Applicant Password Change</b></legend><br>
        
            <table align="center">


              <tr>
                <td>Current Password :</td>
                <td><input type="password" id="curpword" name="curpword" ></td>
            </tr>
            <tr>
                <td>New Password :</td>
                <td><input type="password" id="npword" name="npword" ></td>
            </tr>
            <tr>
              <td>Retype New Password :</td>
              <td><input type="password" id="Rnpword" name="Rnpword" ></td>
          </tr>
            </table>
            <hr><br>

            <table align="center">
              <tr>
                <td><input type="submit" name="submit" id="submit" value="Update">
                  <input type="reset" name="reset" id="reset" value="Reset">
                </td>
              </tr>
    
            </table> 
          
        </fieldset>
        </form>
    </fieldset>
    <!-- .................................Main Content..................... -->
    <!-- .................................Footer Start..................... -->
    <fieldset>
      <p align="center">Copyright	&#169;2021</p>
    </fieldset>
  </form>
  <!-- .................................Footer Close..................... -->

</body>
</html>