<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>FundBD |Crowdfunding</title>
  <link rel="shortcut icon" href="../../assets/icon.png">
</head>
<body>
  <!-- ...............................Header Start....................... -->
  <form action="" onsubmit="return deleteAccount()">
    <fieldset>
      <table align="center">
        <tr>
          <td>
            <img src="../../assets/imgpsh_fullsize.png" alt="" srcset=""width="200" height="80">          </td>
          
        </tr>
      </table>
      <table align="center">
        <tr>
          <td>
            <a href="./applicantdashBoard.html">Dashboard</a>&nbsp;
            <a href="./applicantProfile.php">Profile</a>&nbsp;
            <a href="./notification.html">Notification</a>&nbsp;
            <a href="../../controller/logout.php">Logout</a>
          </td>
        </tr>
      </table>
    </fieldset>
    <!-- .................................Header Close..................... -->
    <!-- .................................Main Content..................... -->
    <fieldset>
      <form method="post" action="../../controller/Applicant/applicantDeleteAccount.php"  >
        <fieldset>
        
            <legend><b><h3>Applicant Account Deactivation</h3></b></legend><br>
        
            <table align="center">


              <tr>
                <td>User name :</td>
                <td><input type="text" id="uname" name="uname" >
                  &nbsp;
                  <span id="erruname" style="color:red"></span> <!--For JS error message-->
                </td>
            </tr>
            <tr>
                <td>Password :</td>
                <td><input type="password" id="password" name="password" >
                  &nbsp;
                  <span id="errpassword" style="color:red"></span> <!--For JS error message-->
                </td>
            </tr>
            <tr>
              <td>Confirm Password :</td>
              <td><input type="password" id="Cnpword" name="Cnpword" >
                &nbsp;
                <span id="errRnpword" style="color:red"></span> <!--For JS error message-->
              </td>
          </tr>
            </table>
            <hr><br>

            <table align="center">
              <tr>
                <td><input type="submit" name="submit" id="submit" value="Delete">
                  <input type="reset" name="reset" id="reset" value="Cancel">
                </td>
              </tr>
    
            </table> 
          
        </fieldset>
        </form>
    </fieldset>
    <!-- .................................Main Content..................... -->
    <!-- .................................Footer Start..................... -->
    <fieldset>
      <p align="center">Copyright	&#169;2021</p>
    </fieldset>
  <!-- .................................Footer Close..................... -->
</form>
  
<script>
  function get(id)
  {
      return document.getElementById(id);
  }

  function deleteAccount()
  {
      var uname = get("uname").value;
       var password = get("password").value;
       var Cnpword = get("Cnpword").value;     
    
      var validate = true;
      

      if(uname=="")
      {
          validate = false;
         get("erruname").innerHTML="Please Enter User Name";
          get("uname").focus();
      }
      else
      {
         get("erruname").innerHTML="";
      }

    
      if(password=="")
      {
          validate = false;
         get("errpassword").innerHTML="Please Enter  Password";
          get("password").focus();
      }
      else
      {
         get("errpassword").innerHTML="";
      }


      if(Cnpword=="")
      {
          validate = false;
         get("errRnpword").innerHTML="Please Enter Retype  Password";
          get("Cnpword").focus();
      }

      else if(Cnpword!=password)
      {
          validate = false;
         get("errRnpword").innerHTML="Please check new password";
          get("Cnpword").focus();
      }
      else
      {
        get("errRnpword").innerHTML="";
      }

      return validate;

  }


</script>


</body>
</html>