<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>FundBD |Crowdfunding</title>
  <link rel="shortcut icon" href="../../assets/icon.png">
</head>
<body>
    <!-- .................................Header Start..................... --> 
  <form action="" onsubmit="return withdrawMoney()" >
    <fieldset>
      <table align="center">
        <tr>
          <td>
            <img src="../../assets/imgpsh_fullsize.png" alt="" srcset=""width="200" height="80">          </td>
          
        </tr>
      </table>
      <table align="center">
        <tr>
          <td>
            <a href="./applicantdashBoard.html">Dashboard</a>&nbsp;
            <a href="./applicantProfile.php">Profile</a>&nbsp;
            <a href="./notification.html">Notification</a>&nbsp;
            <a href="../../controller/logout.php">Logout</a>
          </td>
        </tr>
      </table>
    </fieldset>
          <!-- ...............................Header Close....................... -->



          <!-- .................................Main Content..................... -->
    <fieldset>
  <form method="post" action="../../controller/Applicant/applicantWithdrawMoney.php">
    <fieldset>
    
        <legend><b>Applicant Money Withdraw</b></legend><br>
    
  
        <table align="center">
          <tr>
          <td>Write Account no :</td>
                <td><input type="text" id="accno" name="accno" >
                  &nbsp;
                <span id="erraccno" style="color: red"></span> <!--For JS error message-->

                </td>
          </tr>
          <tr>
                <td>Write Amount :</td>
                <td><input type="text" id="amount" name="amount" >
                 &nbsp;
                <span id="erramount" style="color: red"></span> <!--For JS error message-->


                </td>
          </tr>
        </table> 
        <hr><br>
        <table align="center">
          <tr>
            <td><input type="submit" name="submit" id="submit" value="Continue">
              <input type="reset" name="reset" id="reset" value="Reset">
            </td>
          </tr>

        </table> 
    </fieldset>
    </form>
</fieldset>
    <!-- .................................Main Content..................... -->

    <!-- .................................Footer Start..................... -->
    <fieldset>
      <p align="center">Copyright	&#169;2021</p>
    </fieldset>
    <!-- .................................Footer Close..................... -->
  </form>


<script>
  function get(id)
  {
      return document.getElementById(id);
  }
  function withdrawMoney()
  {
      var accno = get("accno").value;
      var amount = get("amount").value;
      
  
    
      var validate = true;
      

      if(accno=="")
      {
          validate = false;
         get("erraccno").innerHTML="Please Write Your Account no";
          get("accno").focus();
      }
      else
      {
          get("erraccno").innerHTML="";
      }


      if(amount=="")
      {
          validate = false;
         get("erramount").innerHTML="Please Write Your Amount";
          get("amount").focus();
      }
      else
      {
          get("erramount").innerHTML="";
      }


      return validate;

  }


</script>

</body>
</html>