<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FundBD | Change Password</title>
  <link rel="shortcut icon" href="../../assets/icon.png">
</head>
<body>
  <!-- ...............................Header Start....................... -->
  
    <fieldset>
      <table align="center">
        <tr>
          <td>
            <img src="../../assets/imgpsh_fullsize.png" alt="" srcset=""width="200" height="80">
          </td>
          
        </tr>
      </table>
      <table align="center">
        <tr>
          <td>
            <a href="./dashBoard.html">Dashboard</a>&nbsp;
            <a href="./adminProfile.html">Profile</a>&nbsp;
            <a href="./notification.html">Notification</a>&nbsp;
            <a href="#">Logout</a>
          </td>
        </tr>
      </table>
    </fieldset>
    <!-- .................................Header Close..................... -->


    

    <!-- .................................Main Content..................... -->
    <fieldset>
      
        <form method="POST" action="">
          <fieldset >
            <legend> <b>CHANGE PASSWORD</b></legend>
              <table align="center">
              <tr>
                <td>Current Password </td>
                <td> :<input type="password" name="cPass"/> 
                <br/> </td>
              </tr>
            
              <tr>
                <td> New Password </td>
                <td> :<input type="password" name="newPass"/> <br/></td> 
              </tr>
              
              <tr>
                <td>Retype New Password </td>
                <td> :<input type="password" name="retypePass"/> <br/></td> 
              </tr>
              </table>
            <hr>
            <table align="right">
              <tr>
                <td><input type="submit" name="Submit" value="Submit" ></td>
              </tr>
            </table>
            
          </fieldset>
        </form>
     
        
      
       
    </fieldset>
    <!-- .................................Main Content..................... -->
    <!-- .................................Footer Start..................... -->
    <fieldset>
      <p align="center">copyright	&#169;2021</p>
    </fieldset>

    <!-- .................................Footer Close..................... -->
</body>
</html>